:root {
    --background-color: rgba(212, 209, 209, 0);
    --header-background: rgba(172, 221, 255, 1);
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: rgba(172, 221, 255, 1);
    --font-fam: 'Lato', sans-serif;
    --height: 4vh;
    --btn-width: 7vh;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
    --footer-background: rgba(172, 221, 255, 1);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--header-background);
}

html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    flex: 1;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
