@font-face {
    font-family: 'logo';
    src: url("../font/BANNER.ttf") format("truetype");
}


header {
    background-color: var(--header-background);
    display: block;
}

header ul {
    padding: 0;
    list-style: none;
}

#filtres {
    /* background-color: #fff; */
    color: #fff;
}

#logo {
    font-family: "logo";
    font-size: 2vw;

}

#accueil > ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

#accueil > ul > li {
    width: 200px;
    text-align: center;
}

#accueil a {
    text-decoration: none;
    color: black;
}

#right-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
}

.headertext {
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: bold;
}

#flags {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .5vh;
}

#flags img {
    height: 2vh;
}

#flags img:hover {
    cursor: pointer;
}

div#adminPanelDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#adminPanelDiv > a {
    display: block;
    background: transparent;
    padding: 0.5vh 0.5vw;
    border-radius: 20px;
    font-size: medium;
    color: var(--color-dark);
    font-weight: bold;
    text-align: center;
    margin: 1vh auto;
    border: var(--color-dark) solid 2px;
    transition: all 0.2s ease-in-out;
}

div#adminPanelDiv > a {
    text-decoration: none;
    color: var(--color-dark);
}

div#adminPanelDiv > a:hover {
    cursor: pointer;
    background: var(--color-dark);
    color: var(--color-light);
}

div#adminPanelDiv > button:hover > a {
    color: var(--color-light);
}

@media screen and (max-width: 900px) {
    #logo {
        font-size: 2vh;
    }

    .headertext {
        font-size: 2vh;
    }
}
