@font-face {
    font-family: 'logo';
    src: url("../font/BANNER.ttf") format("truetype");
}


header {
    height: 10vh;
    background-color: var(--header-background);
    display: block;
}

header ul {
    padding: 0;
    list-style: none;
}

#filtres {
    /* background-color: #fff; */
    color: #fff;
}

#logo {
    font-family: "logo";
    font-size: 2vw;
    
}



#accueil>ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

#accueil a {
    text-decoration: none;
    color: black;
}

#right-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
}

.headertext {
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: bold;
}

#flags {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .5vh;
}

#flags img {
    height: 2vh;
}

#flags img:hover {
    cursor: pointer;
}

@media screen and (max-width:900px) {
    #logo {
        font-size: 2vh;
    }

    .headertext {
        font-size: 2vh;
    }
}
