#search-form {
    position: relative;
    width: 30vw;
    background: var(--color-brand);
    border-radius: var(--rad);
    margin: 2vh auto 0;
}

input[type="search"],
#search-button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1rem;
}

input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1vw;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) ease-in-out;
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

#search-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}

#search-button:hover {
    cursor: pointer;
}

input[type="search"]:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));

}

input[type="search"]:not(:placeholder-shown)+#search-button {
    display: block;
}

#search-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}



#filtres ul {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 1vw;

}

#filtres ul li {
    padding: 3vh;
}

.filter:hover {
    border-bottom: var(--header-background);
    color: var(--header-background);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.filter {
    list-style-type: none;
    color: #fff;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width:1200px) {

    #search-form {
        width: 50%;
    }
}

@media screen and (max-width:900px) {
    #filtres ul {
        flex-direction: column;
    }

    #filtres ul li {
        margin: 0;
        padding: 2vw 0;
    }

    #search-form {
        width: 90%;
    }
}
