#search-form {
    position: relative;
    width: 30vw;
    background: var(--color-brand);
    border-radius: var(--rad);
    margin: 2vh auto 0;
}

#search {
    height: var(--height);
    font-family: var(--font-fam);
    color: var(--color-dark);
    background: var(--color-light);
    border-radius: var(--rad);
    border: 0;
    width: 100%;
    padding: 0 1vw;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: none;
}

#search-input {
    flex: 1;
}

input[type="search"] {
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
}

#search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
    border: none;
    height: 100%;
    opacity: 0;
    transition-property: width opacity;
    transition: all 0.3s ease-in-out;
}

#search-button:hover {
    cursor: pointer;
}

#search-input:has(input[type="search"]:not(:placeholder-shown)) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}

#search-validation {
    display: block;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out;
}

#search-input:has(input[type="search"]:not(:placeholder-shown)) + #search-validation {
    opacity: 1;
    width: var(--btn-width);
}

#search-input:has(input[type="search"]:not(:placeholder-shown)) + #search-validation > #search-button{
    opacity: 1;
    width: var(--btn-width);
}

#filters-used {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 170px;
    overflow-x: auto;
}

#filters-used::-webkit-scrollbar {
    height: 4px;
    background-color: var(--color-light);
}

#filters-used::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

#filters-used::-webkit-scrollbar-thumb {
    background-color: var(--header-background);
}

.active-filter {
    background-color: var(--color-brand);
    border-radius: 100px;
    height: 50%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    font-size: x-small;
    min-width: fit-content;
}

.delete-element {
    margin: 0 3px;
}

.delete-element:hover {
    cursor: pointer;
}


#filtres > ul {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1vw;
    flex-direction: row;
}

#filtres #search-suggestions {
    padding: 0;
    margin: 7px 1vw;
}

#search-bar {
    position: relative;
}

#search-suggestions {
    position: absolute;
    flex-direction: column;
    top: 40px;
    left: -5px;
    width: 100%;
    max-height: 15vh;
    background: var(--color-light);
    border-radius: 0 0 var(--rad) var(--rad);
    z-index: 2;
    overflow-y: auto;
}

#search-suggestions li {
    width: 100%;
    border-bottom: 1px solid var(--color-brand);
    cursor: pointer;
    padding: 0;
}

#search-suggestions li:hover {
    background: var(--color-brand);
    color: var(--color-light);
}

#search-suggestions li:last-child {
    border-bottom: 0;
}

#search-suggestions li a {
    text-decoration: none;
    color: var(--color-dark);
    display: block;
    padding: 1vh 1vw;
}


.filter:hover {
    border-bottom: var(--header-background);
    color: var(--header-background);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.filter {
    list-style-type: none;
    color: #fff;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    padding: 1vh;
}


@media screen and (max-width: 1200px) {

    #search-form {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {

    #search-form {
        width: 90%;
    }
}

