<header>
    <nav id="accueil">
        <ul>
            <li>
                <div id="logo">[_Sinta_]</div>
            </li>
            <li><a class="headertext" href="./index">Annuaire</a></li>
            <li>
                <ul id="right-nav">
                    <li>
                        <a id="loginText" href="./login">Login</a>
                        <a id="logoutText">Logout</a>
                    </li>
                    <li id="flags">
                        <img src="{{url_for('static', filename='img/drapeau/fr.svg')}}" alt="french_flag"></a>
                        <img src="{{url_for('static', filename='img/drapeau/en.svg')}}" alt="english_flag"></a>
                        <img src="{{url_for('static', filename='img/drapeau/es.svg')}}" alt="spain_flag"></a>
                    </li>
                </ul>

            </li>
        </ul>

    </nav>
</header>