<header>
    <nav id="accueil">
        <ul>
            <li>
                <div id="logo">[_Sinta_]</div>
            </li>
            <li>
                <a id="header-title" class="headertext" href="./index">Annuaire</a>
            </li>
            <li>
                <ul id="right-nav">
                    <li>
                        <a id="loginText" href="./login">Login</a>
                        <a id="logoutText" href="./index">Logout</a>
                    </li>
                    <li id="flags">
                        <img id="french" src="{{ url_for('static', filename='img/drapeau/fr.svg') }}" alt="french_flag">
                        <img id="english" src="{{ url_for('static', filename='img/drapeau/en.svg') }}"
                             alt="english_flag">
                        <img id="spanish" src="{{ url_for('static', filename='img/drapeau/es.svg') }}" alt="spain_flag">
                    </li>
                </ul>

            </li>
        </ul>

    </nav>
</header>