<section id="recherche">
    <!--À incorporer le système de recherche-->
    <nav id="filtres">
        <div id="search-bar">
            <form id="search-form" action="./globalSearch" role="search" method="post">
                <div id="search">
                    <label id="filters-used">
                    </label>
                    <span id="search-input">
                        <label for="input-search"></label><input autocomplete="off" id="input-search" type="search"
                                                                 name="searchValue"
                                                                 placeholder="Rechercher..." autofocus
                                                                 required/>
                    </span>
                    <span id="search-validation">
                        <button id="search-button" type="submit">Valider</button>
                    </span>

                </div>


                <ul id="search-suggestions"></ul>
            </form>
        </div>
        <ul>
            <li>
                <div id="search-presidence" class="filter filter1">PRESIDENCE</div>
            </li>
            <li>
                <div id="search-assistance" class="filter filter2">ASSISTANCE</div>
            </li>
            <li>
                <div id="search-communication" class="filter filter3">COMMUNICATION</div>
            </li>
            <li>
                <div id="search-rh" class="filter filter4">RESOURCES HUMAINES</div>
            </li>
            <li>
                <div id="search-finance" class="filter filter5">FINANCE</div>
            </li>
            <li>
                <div id="search-marketing" class="filter filter6">MARKETING</div>
            </li>
            <li>
                <div id="search-informatique" class="filter filter7">INFORMATIQUE</div>
            </li>
        </ul>
    </nav>
</section>
<script>
    const searchForm = document.getElementById('search-form');
    const searchInput = document.getElementById('input-search');
    const searchSuggestions = document.getElementById('search-suggestions');

    searchForm.addEventListener('input', function (event) {
        event.preventDefault();
        if (searchInput.value.length === 0) {
            searchSuggestions.innerHTML = '';
            return;
        }

        const searchValue = searchInput.value;
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/suggestions', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        let all_active_filters = [];
        for (const element of document.getElementsByClassName('selected')) {
            all_active_filters.push(element.textContent);
        }
        xhr.send(JSON.stringify(
            {
                searchValue: searchValue,
            }
        ));
        xhr.onload = function () {
            if (xhr.status === 200) {
                const matchingUsers = JSON.parse(xhr.responseText);
                searchSuggestions.innerHTML = '';
                matchingUsers.forEach(user => {
                    if (user.length === 2) {
                        if (all_active_filters.includes(user[1]) === true || all_active_filters.length === 0) {
                            const suggestionElement = document.createElement('li');
                            suggestionElement.innerHTML = `<a href="./profile?user=${user[0]}">${user[0]}</a>`;
                            searchSuggestions.appendChild(suggestionElement);
                        }
                    } else {
                        if (all_active_filters.includes(user[2]) === true || all_active_filters.length === 0) {
                            const suggestionElement = document.createElement('li');
                            suggestionElement.innerHTML = `<a href="./profile?user=${user[0]}">${user[0]}</a>`;
                            searchSuggestions.appendChild(suggestionElement);
                        }
                    }
                });
            } else {
                console.error('Error fetching search suggestions:', xhr.status);
            }
        };
    });


    const form = document.getElementById('search-form');

    form.addEventListener('submit', () => {
        const filtersUsedLabel = document.querySelector('#filters-used');
        const filtersUsedText = filtersUsedLabel.textContent;
        const filtersUsedValues = filtersUsedText.split('❌').map(value => value.trim()).filter(value => value.length > 0);
        const filtersUsedInput = document.createElement('input');
        filtersUsedInput.type = 'hidden';
        filtersUsedInput.name = 'filtersUsed';
        filtersUsedInput.value = JSON.stringify(filtersUsedValues);
        form.appendChild(filtersUsedInput);
    });

</script>