<section id="recherche">
    <!--À incorporer le système de recherche-->
    <nav id="filtres">
        <div id="search-bar">
            <form id="search-form" action="./globalSearch" role="search" method="post">
                <div id="search">
                    <label id="filters-used">
                    </label>
                    <span id="search-input">
                        <label for="input-search"></label><input autocomplete="off" id="input-search" type="search"
                                                                 name="searchValue"
                                                                 placeholder="Rechercher..." autofocus
                                                                 required/>
                    </span>
                    <span id="search-validation">
                        <button id="search-button" type="submit">Valider</button>
                    </span>

                </div>


                <ul id="search-suggestions"></ul>
            </form>
        </div>
        
    </nav>
</section>
<script>
    const suggestions = [
        {% for suggestion in suggestions %}
            "{{ suggestion }}",
        {% endfor %}
    ];

    const searchInput = document.getElementById("input-search");
    const searchSuggestions = document.getElementById("search-suggestions");

    searchInput.addEventListener("input", function () {
        searchSuggestions.innerHTML = "";
        if (searchInput.value.length > 0) {
            for (let i = 0; i < suggestions.length; i++) {
                if (suggestions[i].toLowerCase().includes(searchInput.value.toLowerCase())) {
                    const suggestion = document.createElement("li");
                    suggestion.innerHTML = `<a href="./profile?user=${suggestions[i]}">${suggestions[i]}</a>`;
                    searchSuggestions.appendChild(suggestion);
                }
            }
        }
    });
    console.log(suggestions);
</script>