<!DOCTYPE html>
<html lang="fr">

{% include './import/head.html' %}

<body>

{% include './import/header.html' %}

{% include './import/search.html' %}

<main id="page-adminPanel">

    {% if error_remove_group %}
        <div class="box red">
            <h1 id="adminPanel-error" class="adminPanelSectionTitle">Erreur</h1>
            <p id="adminPanel-error-message">{{ error_remove_group }}</p>
        </div>
    {% endif %}
    {% if success_remove_group %}
        <div class="box green">
            <h1 id="adminPanel-success" class="adminPanelSectionTitle">Succès</h1>
            <p id="adminPanel-success-message">{{ success_remove_group }}</p>
        </div>
    {% endif %}
    <div class="box blue">
        <h1 id="adminPanel-delete-group" class="adminPanelSectionTitle">Supprimer Groupe</h1>
        <form class="adminForm" action="/adminPanel/deleteGroup" method="post">
            <label>
                <select name="group" class="single">
                    {% for group in groups %}
                        <option value="{{ group }}">{{ group }}</option>
                    {% endfor %}
                </select>
            </label>
            <input id="adminPanel-delete-group-button-value" type="submit" class="adminPanelButton" value="Supprimer"/>
        </form>
    </div>


    {% if error_add_group %}
        <div class="box red">
            <h1 id="adminPanel-error" class="adminPanelSectionTitle">Erreur</h1>
            <p id="adminPanel-error-message">{{ error_add_group }}</p>
        </div>
    {% endif %}
    {% if success_add_group %}
        <div class="box green">
            <h1 id="adminPanel-success" class="adminPanelSectionTitle">Succès</h1>
            <p id="adminPanel-success-message">{{ success_add_group }}</p>
        </div>
    {% endif %}
    <div class="box blue">
        <h1 id="adminPanel-add-group" class="adminPanelSectionTitle">Rajouter groupe</h1>
        <form class="adminForm" action="/adminPanel/addGroup" method="post">
            <label>
                <input id="adminPanel-add-group-name-placeholder" type="text" name="group" placeholder="Nom du groupe"/>
            </label>
            <label>
                <select name="OU" class="single">
                    {% for organisation_unit in all_organisation_unit %}
                        <option value="{{ organisation_unit }}"> {{ organisation_unit }}</option>
                    {% endfor %}
                </select>
            </label>
            <input id="adminPanel-add-group-button-value" type="submit" class="adminPanelButton" value="Ajouter"/>
        </form>
    </div>


    {% if error_add_user_group %}
        <div class="box red">
            <h1 id="adminPanel-error" class="adminPanelSectionTitle">Erreur</h1>
            <p id="adminPanel-error-message">{{ error_add_user_group }}</p>
        </div>
    {% endif %}
    {% if success_add_user_group %}
        <div class="box green">
            <h1 id="adminPanel-success" class="adminPanelSectionTitle">Succès</h1>
            <p id="adminPanel-success-message">{{ success_add_user_group }}</p>
        </div>
    {% endif %}
    <div class="box blue">
        <h1 id="adminPanel-add-user-group" class="adminPanelSectionTitle">Ajouter utilisateurs à groupe</h1>
        <form class="adminForm" action="/adminPanel/addUserToGroup" method="post">
            <label id="adminPanel-add-user-group-label-user"> Utilisateurs
                <!-- authorized multiple values -->
                <select name="users" multiple class="multiple-selection">
                    {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </label>
            <label id="adminPanel-add-user-group-label-group-label"> Groupe
                <select name="group" class="single">
                    {% for group in groups %}
                        <option value="{{ group }}">{{ group }}</option>
                    {% endfor %}
                </select>
            </label>
            <input id="adminPanel-add-user-group-button-value" type="submit" class="adminPanelButton" value="Ajouter"/>
        </form>
    </div>


    {% if error_remove_user_group %}
        <div class="box red">
            <h1 id="adminPanel-error" class="adminPanelSectionTitle">Erreur</h1>
            <p id="adminPanel-error-message">{{ error_remove_user_group }}</p>
        </div>
    {% endif %}
    {% if success_remove_user_group %}
        <div class="box green">
            <h1 id="adminPanel-success" class="adminPanelSectionTitle">Succès</h1>
            <p id="adminPanel-success-message">{{ success_remove_user_group }}</p>
        </div>
    {% endif %}
    <div class="box blue">
        <h1 id="adminPanel-remove-user-group" class="adminPanelSectionTitle">Supprimer Utilisateur de groupe</h1>
        <form class="adminForm" action="/adminPanel/deleteUserFromGroup" method="post">
            <label id="adminPanel-remove-user-group-label-user"> Utilisateurs
                <select name="users" multiple class="multiple-selection">
                    {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </label>
            <label id="adminPanel-remove-user-group-label-group-label"> Groupe
                <select name="group" class="single">
                    {% for group in groups %}
                        <option value="{{ group }}">{{ group }}</option>
                    {% endfor %}
                </select>
            </label>
            <input id="adminPanel-remove-user-group-button-value" type="submit" class="adminPanelButton"
                   value="Supprimer"/>
        </form>
    </div>


    {% if error_create_user %}
        <div class="box red">
            <h1 id="adminPanel-error" class="adminPanelSectionTitle">Erreur</h1>
            <p id="adminPanel-error-message">{{ error_create_user }}</p>
        </div>
    {% endif %}
    {% if success_create_user %}
        <div class="box green">
            <h1 id="adminPanel-success" class="adminPanelSectionTitle">Succès</h1>
            <p id="adminPanel-success-message">{{ success_create_user }}</p>
        </div>
    {% endif %}
    <div class="box blue">
        <h1 id="adminPanel-create-user" class="adminPanelSectionTitle">Creer un utilisateur dans l'AD</h1>
        <form class="adminForm" action="/adminPanel/createUser" method="post">
            <label id="adminPanel-create-user-label-first_name"> Prénom
                <input id="adminPanel-create-user-first_name-placeholder" type="text" name="first_name"
                       placeholder="Prénom" required/>
            </label>
            <label id="adminPanel-create-user-label-last_name"> Nom
                <input id="adminPanel-create-user-last_name-placeholder" type="text" name="last_name"
                       placeholder="Nom" required/>
            </label>
            <label id="adminPanel-create-user-label-email"> Email
                <input id="adminPanel-create-user-email-placeholder" type="email" name="email" placeholder="Email"
                       required/>
            </label>
            <label id="adminPanel-create-user-label-password"> Mot de passe
                <input id="adminPanel-create-user-password-placeholder" type="password" name="password"
                       placeholder="Mot de passe" required/>
            </label>
            <label id="adminPanel-create-user-label-birthday"> Date de naissance
                <input id="adminPanel-create-user-birthday-placeholder" type="date" name="birthday" required/>
            </label>
            <label id="adminPanel-create-user-label-tel_prof"> Téléphone professionnel
                <input id="adminPanel-create-user-tel_prof-placeholder" type="tel" maxlength="10" name="tel_prof"
                       placeholder="Téléphone professionnel" required/>
            </label>
            <label id="adminPanel-create-user-label-tel_perso"> Téléphone personnel
                <input id="adminPanel-create-user-tel_perso-placeholder" type="tel" maxlength="10" name="tel_perso"
                       placeholder="Téléphone personnel" required/>
            </label>
            <label id="adminPanel-create-user-label-title"> Rôle
                <input id="adminPanel-create-user-title-placeholder" type="text" name="title" placeholder="Titre"
                       required/>
            </label>
            <label id="adminPanel-create-user-label-adresse"> Adresse
                <input id="adminPanel-create-user-adresse-placeholder" type="text" name="adresse"
                       placeholder="Adresse" required/>
            </label>
            <label id="adminPanel-create-user-label-region"> Région
                <input id="adminPanel-create-user-region-placeholder" type="text" name="region" placeholder="Région"
                       required/>
            </label>
            <label id="adminPanel-create-user-label-code_postal"> Code postal
                <input id="adminPanel-create-user-code_postal-placeholder" type="text" maxlength="5" name="code_postal"
                       placeholder="Code postal" required/>
            </label>
            <label id="adminPanel-create-user-label-ville"> Ville
                <input id="adminPanel-create-user-ville-placeholder" type="text" name="ville" placeholder="Ville"
                       required/>
            </label>
            <label id="adminPanel-create-user-label-pays"> Pays
                <input id="adminPanel-create-user-pays-placeholder" type="text" name="pays" placeholder="Pays"
                       required/>
            </label>
            <label id="adminPanel-create-user-label-departement"> Département
                <select name="departement" class="single">
                    {% for organisation_unit in all_organisation_unit %}
                        <option value="{{ organisation_unit }}"> {{ organisation_unit }}</option>
                    {% endfor %}
                </select>
            </label>
            <label id="adminPanel-create-user-label-group"> Groupe
                <select name="group" class="single">
                    {% for group in groups %}
                        <option value="{{ group }}">{{ group }}</option>
                    {% endfor %}
                </select>
            </label>
            <input id="adminPanel-create-user-button-value" type="submit" class="adminPanelButton"
                   value="Creer"/>
        </form>
    </div>


    {% if error_remove_user %}
        <div class="box red">
            <h1 id="adminPanel-error" class="adminPanelSectionTitle">Erreur</h1>
            <p id="adminPanel-error-message">{{ error_remove_user }}</p>
        </div>
    {% endif %}
    {% if success_remove_user %}
        <div class="box green">
            <h1 id="adminPanel-success" class="adminPanelSectionTitle">Succès</h1>
            <p id="adminPanel-success-message">{{ success_remove_user }}</p>
        </div>
    {% endif %}
    <div class="box blue">
        <h1 id="adminPanel-delete-user" class="adminPanelSectionTitle">Supprimer un utilisateur de l'AD</h1>
        <form class="adminForm" action="/adminPanel/deleteUser" method="post">
            <label id="adminPanel-delete-user-label-user"> Utilisateurs
                <select name="user" class="single">
                    {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </label>
            <input id="adminPanel-delete-user-button-value" type="submit" class="adminPanelButton"
                   value="Supprimer"/>
        </form>
    </div>
</main>

{% include './import/footer.html' %}

</body>