<!DOCTYPE html>
<html lang="fr">

{% include './import/head.html' %}

<body>

{% include './import/header.html' %}

{% include './import/search.html' %}

{% block content %}
<div class="line">
    {% for user in users %}
    <a href="./profile?user={{ user.first_name + ' ' + user.last_name }}">
        <div class="item">
            <img src="../static/img/profile.png" alt="Profile Picture" class="img">
            <div class="infos">
                <div class="statusInfo">{{ user.title }}</div>
                <div class="nomInfo">{{ user.first_name }} {{ user.last_name }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}

<main id="page-globalSearch">
    <div class="line">
    </div>
</main>

{% include './import/footer.html' %}
</body>