<!DOCTYPE html>
<html lang="fr">

{% include './import/nav.html' %}

<body>

{% include './import/header.html' %}

{% include './import/search.html' %}

{% block content %}
  <div class="line">
    {% for user in users %}
      <div class="item" onclick="window.location.href='profile/{{ user.username }}'">
        <img src="../static/img/profile.png" alt="Profile Picture" class="img">
        <div class="infos">
          <div class="statusInfo">{{ user.title }}</div>
          <div class="nomInfo">{{ user.first_name }} {{ user.last_name }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

<main>
    <div class="line">
    </div>
</main>

{% include './import/footer.html' %}

</body>