<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lacroix Baptiste">
    <meta name="author" content="Conil Marvin">
    <meta name="author" content="Pautreau Romain">
    <meta name="author" content="Lopes Mateus">
    <meta name="author" content="Hassan Sacha">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/menu.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/search.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/box.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/resultSearch.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile.css')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sinta</title>
</head>

<body>
<header>
    <nav id="accueil">
        <ul>
            <li>
                <div id="logo">[_Sinta_]</div>
            </li>
            <li><a class="headertext" href="./index">Annuaire</a></li>
            <li>
                <ul id="right-nav">
                    <li>
                        <a id="loginText" href="./login">Login</a>
                        <a id="logoutText">Logout</a>
                    </li>
                    <li id="flags">
                        <img src="{{url_for('static', filename='img/drapeau/fr.svg')}}" alt="french_flag"></a>
                        <img src="{{url_for('static', filename='img/drapeau/en.svg')}}" alt="english_flag"></a>
                        <img src="{{url_for('static', filename='img/drapeau/es.svg')}}" alt="spain_flag"></a>
                    </li>
                </ul>

            </li>
        </ul>

    </nav>
</header>

<section id="recherche">
    <!--À incorporer le système de recherche-->
    <nav id="filtres">
        <div id="search-bar">
            <form id="search-form" action="/templates/globalSearch.html?filter=UNBOUGLA" role="search">
                <label id="search-label" for="search">Recherche</label>
                <input autocomplete="off" id="search" type="search" placeholder="Rechercher..." autofocus required/>
                <button id="search-button" type="submit">Valider</button>
            </form>
        </div>
        <ul>
            <li>
                <a class="filter" href="./globalSearch?filter=assistance">ASSISTANCE</a>
            </li>
            <li>
                <a class="filter" href="./globalSearch?filter=assistance">COMMUNICATION</a>
            </li>
            <li>
                <a class="filter" href="./globalSearch?filter=assistance">RESOURCES HUMAINES</a>
            </li>
            <li>
                <a class="filter" href="./globalSearch?filter=assistance">FINANCES</a>
            </li>
            <li>
                <a class="filter" href="./globalSearch?filter=assistance">INFORMATIQUE</a>
            </li>
        </ul>
    </nav>
</section>
<main>
    <div class="box blue">
        <div class="title-box">
            <h2 id="profile-name">Prenom Nom</h2>
            <img id="profile-picture" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
        </div>
        <div class="profile-box">
            <div class="profile-title">
                Informations Personnelles
            </div>
            <div class="profile-info">
                <div>Email : <span>gerant@gmail.com</span></div>
            </div>
        </div>
        <div class="profile-box">
            <div class="profile-title">Affectation</div>
            <div class="profile-info">
                <div>Pole : <span>Info</span></div>
                <div>Grade : <span>Dictateur</span></div>
                <div>Tel : <span>+33 6 45 78 47 58 </span></div>
                <div>Adresse bureau : <span>10 rue du bureau</span></div>
            </div>
        </div>
        <div class="profile-box">
            <div class="profile-title">Informations avancées</div>
            <div class="profile-info">
                <div>test : <span>test</span></div>
                <div>test : <span>test</span></div>
            </div>
        </div>
    </div>
</main>


<footer class="sticky-footer">
    <div>
        © Copyright - Sinta - 2023
    </div>
    <div>
        Conil Marvin - Hassan Sacha - Lacroix Baptiste - Lopes Mateus - Pautreau Romain
    </div>
</footer>
<script type="text/javascript" src="{{url_for('static', filename='js/data.js')}}"></script>
</body>